*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*   Generics   */

.black-text{
    color: black;   
}

.white-text{
    color: white;
}

.red-text{
    color: red;
}

.red-bg{
    background-color: red;
}

.green-bg{
    background-color: green;
}

.list-style-type{
    list-style-type: none;
}

.flex{
    display: flex;
}

.no-underline{
    text-decoration: none;
}

.border{
    border: 2px dotted black;
}

.bold-text{
    font-weight: bold;
}

.inline-block{
    display: inline;
}






/* header */

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: orange;
    justify-content: center;
    box-shadow: 5px 5px 5px gray;
}



nav{
    width: 80%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    justify-content: flex-start;
    gap: 10px;
}

.logo{
    height: 30px;;
}

.header-icons{
    gap: 5px;
}


/* Sezione Prodotti */

.corpo{
    width: 100%;
    justify-content: center;



}

.site-body{
    width: 80%;
    min-height: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
}


.product{
    width: 32%;
    height: 800px;
    background-color: rgb(150, 153, 1);
    border: 2px dotted black;
}

.product-image{
    width: 100%;
    height: 90%;
    background-color: darkgreen;
    background-position: 50% 50%;
    background-size: cover;
}

.p1{
    background-image: url(/img/1.webp);
}

.p2{
    background-image: url(/img/2.webp);
}

.p3{
    background-image: url(/img/3.webp);
}

.p4{
    background-image: url(/img/4.webp);
}

.p5{
    background-image: url(/img/5.webp);
}

.p6{
    background-image: url(/img/6.webp);
}

.like{
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 2%;
    left: 89%;


}


.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 80%;
    z-index: 0;
    color: white;
    font-size: smaller;
    font-weight: 600;

}


.climate-change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    background-color: rgb(18, 125, 13);
    position: relative;
    top: 80%;
    z-index: 0;
    color: white;
    font-size: smaller;
    font-weight: 600;
}
    



/*  Footer  */

footer{
    background-color: rgb(41, 40, 40);
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;


}

.footer-contain{
    width: 80%;
}


